<div id=":j6" class="a3s aiL "><u></u>


  <div>
    <div style="border-top:#f7941d solid 6px;background:#f1f1f1; height:100%; overflow:hidden">
      <table width="670" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
          <!-- <tr>
            <td style="padding:15px 0">
              <table width="100%" border="0" cellspacing="0" cellpadding="0"
                style="font-family:Arial,Helvetica,sans-serif;font-size:12px">
                <tbody>
                  <tr>
                    <td width="187" align="left" style="padding-right:10px"><a
                        href="http://www.timesjobs.com/candidate/AutoLogin.html?target=Direct&amp;alt=YvsUnPasni69SUIGGxVcKw==&amp;fromTJ=alert&amp;urlWithParams=SkuyjDO2bEc4KtpJjQOJz9eGUp9ukBaeTk2Q3aghbHb3aJtJ8Z26e6kN1oCrOgT4HDKVnLdKsGqS__NEWLINE__BdAsUvs7aoPsjQfPWdX8hquQLm__PLUS__WngpeYvussIpjAKrH9msbbnBf7Fgx85CGCzFVVsKlbtw22__SLASH__vW__NEWLINE__Cq3f0IWiRBiCRRqNbyM="
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/candidate/AutoLogin.html?target%3DDirect%26alt%3DYvsUnPasni69SUIGGxVcKw%3D%3D%26fromTJ%3Dalert%26urlWithParams%3DSkuyjDO2bEc4KtpJjQOJz9eGUp9ukBaeTk2Q3aghbHb3aJtJ8Z26e6kN1oCrOgT4HDKVnLdKsGqS__NEWLINE__BdAsUvs7aoPsjQfPWdX8hquQLm__PLUS__WngpeYvussIpjAKrH9msbbnBf7Fgx85CGCzFVVsKlbtw22__SLASH__vW__NEWLINE__Cq3f0IWiRBiCRRqNbyM%3D&amp;source=gmail&amp;ust=1730549657858000&amp;usg=AOvVaw1g2CtAqv5RG7zeNPvKx3q2"><img
                          src="https://ci3.googleusercontent.com/meips/ADKq_NZu19ts6j_tq_BcOrIj5CyUjiTQgDvJCA-UuDWYeqmB7nauJuwbLMUwmCCkVW9FxVDssEhiBpJuZftqrSw7YEJEnMNbvJQ6kEaEVXH-ifXs8D_sPzOu3vQEtn8pqrHCfy_k=s0-d-e1-ft#http://mailer.timesjobs.com/tech01/Mailers/apr16/lcmailer/images/tj-logo.jpg"
                          alt="TimesJobs" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0."></a>
                    </td>
                    <td width="378" style="padding-left:10px;border-left:#d6d6d6 solid 1px"><a
                        href="http://www.timesjobs.com/candidate/AutoLogin.html?target=Direct&amp;alt=YvsUnPasni69SUIGGxVcKw==&amp;fromTJ=alert&amp;urlWithParams=S016RDfSbDk7ElyNT078fZ7uvhoE9m__PLUS__2p7Xgcd4XMNV01WGrnCoLZm6xLHnN1rq2jCWtxcpCqAb1__NEWLINE__pUYnX8sRuq0UCUrKIZ__PLUS__on2k0PhTS4mC__SLASH__ihT9__PLUS__vk0SroaBEjag5L__PLUS__28bUl5ETVv3mIGgpBk__SLASH__oLw=="
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/candidate/AutoLogin.html?target%3DDirect%26alt%3DYvsUnPasni69SUIGGxVcKw%3D%3D%26fromTJ%3Dalert%26urlWithParams%3DS016RDfSbDk7ElyNT078fZ7uvhoE9m__PLUS__2p7Xgcd4XMNV01WGrnCoLZm6xLHnN1rq2jCWtxcpCqAb1__NEWLINE__pUYnX8sRuq0UCUrKIZ__PLUS__on2k0PhTS4mC__SLASH__ihT9__PLUS__vk0SroaBEjag5L__PLUS__28bUl5ETVv3mIGgpBk__SLASH__oLw%3D%3D&amp;source=gmail&amp;ust=1730549657858000&amp;usg=AOvVaw35skJYlMSFBuvWEy2San4p"><img
                          src="https://ci3.googleusercontent.com/meips/ADKq_NYLqUbFmOP_gUBnO6x4OgyQqn2BEjClcu39Tv5J0KKGpmUh-xN2e890aaj44FasUZFIvqO3sZ0df2YvFB4DDhTNHZ6n3LzRVit2i0cMgvvaF0yYzUNCLPo_Vw6mm_MWIQScGkx5Qow=s0-d-e1-ft#http://mailer.timesjobs.com/tech01/Mailers/apr16/lcmailer/images/jobbuzz-logo.jpg"
                          alt="JobBuzz" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0."></a></td>
                    <td width="105" align="right" style="color:#848484"><a href="#m_-649644869570161210_"></a>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td width="57%"><a
                                href="http://www.timesjobs.com/candidate/downloadapp.jsp?f=android&amp;utm_source=ja_playstore&amp;utm_medium=email&amp;utm_content=android&amp;utm_campaign=tj_lifecycle_lr"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/candidate/downloadapp.jsp?f%3Dandroid%26utm_source%3Dja_playstore%26utm_medium%3Demail%26utm_content%3Dandroid%26utm_campaign%3Dtj_lifecycle_lr&amp;source=gmail&amp;ust=1730549657858000&amp;usg=AOvVaw1TlXWMHdMcH1CaNYG9zEbb"><img
                                  src="https://ci3.googleusercontent.com/meips/ADKq_NYvHx6rBqD1brUc0NLDHN1xSFfkPzkkPzAh9ylp9-xcFZzv_OZ9T8zQ74lDps-ho-YaGzOS4KjSkpkl7emj23iTCPpvHrNAlhk5Z8pQoA67xks5YVN-BHpzYbsFt5iIFYw=s0-d-e1-ft#http://mailer.timesjobs.com/tech01/Mailers/apr16/lcmailer/images/anroid.jpg"
                                  alt="Android" class="CToWUd" data-bit="iit"
                                  jslog="138226; u014N:xr6bB; 53:WzAsMl0."></a></td>
                            <td width="43%"><a
                                href="http://www.timesjobs.com/candidate/downloadapp.jsp?f=ios&amp;utm_source=ja_playstore&amp;utm_medium=email&amp;utm_content=ios&amp;utm_campaign=tj_lifecycle_lr"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/candidate/downloadapp.jsp?f%3Dios%26utm_source%3Dja_playstore%26utm_medium%3Demail%26utm_content%3Dios%26utm_campaign%3Dtj_lifecycle_lr&amp;source=gmail&amp;ust=1730549657858000&amp;usg=AOvVaw0MO-rN5fT3ysAWZc9xmfgl"><img
                                  src="https://ci3.googleusercontent.com/meips/ADKq_NYaxYUpzGnaIdyi0x65EpfcB15ejDM8aVGcRyUA6Hn1uY1u9LlHQ79xyOLJrkNbB6koPDs0je88nZETlMY2uKVRJIJ4RxPuI3cduaZ8o9gbWhgfO-h4VmkRK7qTicc=s0-d-e1-ft#http://mailer.timesjobs.com/tech01/Mailers/apr16/lcmailer/images/ios.jpg"
                                  alt="iOS" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0."></a>
                            </td>
                          </tr>
                          <tr>
                            <td><a
                                href="http://www.timesjobs.com/candidate/downloadapp.jsp?f=android&amp;utm_source=ja_playstore&amp;utm_medium=email&amp;utm_content=android&amp;utm_campaign=tj_lifecycle_lr"
                                style="color:#848484;text-decoration:none" target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/candidate/downloadapp.jsp?f%3Dandroid%26utm_source%3Dja_playstore%26utm_medium%3Demail%26utm_content%3Dandroid%26utm_campaign%3Dtj_lifecycle_lr&amp;source=gmail&amp;ust=1730549657858000&amp;usg=AOvVaw1TlXWMHdMcH1CaNYG9zEbb">Android</a>
                            </td>
                            <td><a
                                href="http://www.timesjobs.com/candidate/downloadapp.jsp?f=ios&amp;utm_source=ja_playstore&amp;utm_medium=email&amp;utm_content=ios&amp;utm_campaign=tj_lifecycle_lr"
                                style="color:#848484;text-decoration:none" target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/candidate/downloadapp.jsp?f%3Dios%26utm_source%3Dja_playstore%26utm_medium%3Demail%26utm_content%3Dios%26utm_campaign%3Dtj_lifecycle_lr&amp;source=gmail&amp;ust=1730549657858000&amp;usg=AOvVaw0MO-rN5fT3ysAWZc9xmfgl">iOS</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr> -->


          <tr>
            <td bgcolor="#f7941d"
              style="padding: 20px 0; font-weight: bold; font-family: Calibri; font-size: 2rem; text-align: center; color: #ffffff;">
              Evening Mall
            </td>
          </tr>

          <tr>
            <td bgcolor="#F1F1F1">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#d9e8f5"
              style="padding:5px 20px;font-weight:bold;text-align:center;font-family:Calibri;font-size:19px">
              Email from contact</td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF" align="center"
              style="padding: 20px 30px 15px 30px; color: #222222; justify-items: center; font-family: Calibri, sans-serif; font-size: 15px;">
              <table border="0" cellspacing="0" cellpadding="8"
                style="margin: 0 auto; text-align: left; font-family: Calibri, sans-serif; font-size: 15px;">
                <tbody>
                  <tr>
                    <td style="padding-right: 10px;"><strong>Name</strong></td>
                    <td style="padding: 0 5px;">:</td>
                    <td>__NAME__</td>
                  </tr>
                  <tr>
                    <td style="padding-right: 10px;"><strong>Email</strong></td>
                    <td style="padding: 0 5px;">:</td>
                    <td>__EMAIL__</td>
                  </tr>
                  <tr>
                    <td style="padding-right: 10px;"><strong>Subject</strong></td>
                    <td style="padding: 0 5px;">:</td>
                    <td>__SUBJECT__</td>
                  </tr>
                  <tr>
                    <td style="padding-right: 10px;"><strong>Message</strong></td>
                    <td style="padding: 0 5px;">:</td>
                    <td>__MESSAGE__</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <!-- <tr>
            <td bgcolor="#FFFFFF"
              style="padding:10px 0;font-weight:bold;font-family:Calibri;font-size:15px;font-weight:normal">
              <table width="30%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td align="center" style="background:#cd4237;border-radius:2px;font-size:17px;font-weight:normal">
                      <a href="http://www.timesjobs.com/candidate/AutoLogin.html?target=PreviewResume&amp;alt=YvsUnPasni69SUIGGxVcKw==&amp;adId=110430660&amp;fromTJ=alert&amp;urlWithParams=QLuN1qFwHbUhfVC026Lq__SLASH__WTgS9EyEZB6nbAZw88gi8DgAZfjxre71xzo__PLUS__QX4H2Txnt07pzL__PLUS__R1du__NEWLINE__sSx5zda6tiH__PLUS__2YE00LZkCb7Jx7C2J1VzpSvf__PLUS__uAgZw=="
                        style="text-decoration:none;font-weight:normal;padding:10px 30px;display:block;color:#fff"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/candidate/AutoLogin.html?target%3DPreviewResume%26alt%3DYvsUnPasni69SUIGGxVcKw%3D%3D%26adId%3D110430660%26fromTJ%3Dalert%26urlWithParams%3DQLuN1qFwHbUhfVC026Lq__SLASH__WTgS9EyEZB6nbAZw88gi8DgAZfjxre71xzo__PLUS__QX4H2Txnt07pzL__PLUS__R1du__NEWLINE__sSx5zda6tiH__PLUS__2YE00LZkCb7Jx7C2J1VzpSvf__PLUS__uAgZw%3D%3D&amp;source=gmail&amp;ust=1730549657859000&amp;usg=AOvVaw0Vi5clRG6UKGUCi1NRKKft">Update
                        Profile</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr> -->
        </tbody>
      </table>
      <div
        style="text-align:center;font-family:Arial,Helvetica,sans-serif;padding:10px 0 20px 0;color:#999;font-size:11px">

        <!-- Timesjobs sent this e-mail to you because you are registered with us as <a
          style="color:#09f;text-decoration:none" href="mailto:sonyksony@gmail.com"
          target="_blank">sonyksony@gmail.com</a> <br>
        If you do not wish to receive newsletter,<a style="color:#09f;text-decoration:none"
          href="http://www.timesjobs.com/candidate/AutoLogin.html?target=Direct&amp;alt=YvsUnPasni69SUIGGxVcKw==&amp;fromTJ=alert&amp;trackingId=20315371993&amp;featureId=2&amp;urlWithParams=SkuyjDO2bEc4KtpJjQOJz9eGUp9ukBaeTk2Q3aghbHZ7YHAuwUez__SLASH__ZuWTGcUPxTprbRhvw1TAzEc__NEWLINE__MpWct0qwapIF0CxS__PLUS__ztqg__PLUS__yNB89Z1fyGq5Aub5aeCl5i__PLUS__6ywimMAqsf2axtucF__SLASH__sWDHzkIYLMVVW__NEWLINE__wqVu3Dbb__PLUS__9YKrd__SLASH__QhaJEGIJFGo1vIw=="
          target="_blank"
          data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/candidate/AutoLogin.html?target%3DDirect%26alt%3DYvsUnPasni69SUIGGxVcKw%3D%3D%26fromTJ%3Dalert%26trackingId%3D20315371993%26featureId%3D2%26urlWithParams%3DSkuyjDO2bEc4KtpJjQOJz9eGUp9ukBaeTk2Q3aghbHZ7YHAuwUez__SLASH__ZuWTGcUPxTprbRhvw1TAzEc__NEWLINE__MpWct0qwapIF0CxS__PLUS__ztqg__PLUS__yNB89Z1fyGq5Aub5aeCl5i__PLUS__6ywimMAqsf2axtucF__SLASH__sWDHzkIYLMVVW__NEWLINE__wqVu3Dbb__PLUS__9YKrd__SLASH__QhaJEGIJFGo1vIw%3D%3D&amp;source=gmail&amp;ust=1730549657859000&amp;usg=AOvVaw2p9T9DEi7DtPVrs__VcneY">
          Unsubscribe</a>.<br>
        Visit our <a style="color:#09f;text-decoration:none"
          href="http://www.timesjobs.com/popuphtml/privacy.html?utm_source=login_mailer_90&amp;utm_medium=email&amp;utm_campaign=login_mail_promote_Logo"
          target="_blank"
          data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/popuphtml/privacy.html?utm_source%3Dlogin_mailer_90%26utm_medium%3Demail%26utm_campaign%3Dlogin_mail_promote_Logo&amp;source=gmail&amp;ust=1730549657859000&amp;usg=AOvVaw3p2pCbtenAE-paHc9FYUYo">Privacy
          Policy</a>, <a style="color:#09f;text-decoration:none"
          href="http://www.timesjobs.com/popuphtml/Terms.htm?utm_source=login_mailer_90&amp;utm_medium=email&amp;utm_campaign=login_mail_promote_Logo"
          target="_blank"
          data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/popuphtml/Terms.htm?utm_source%3Dlogin_mailer_90%26utm_medium%3Demail%26utm_campaign%3Dlogin_mail_promote_Logo&amp;source=gmail&amp;ust=1730549657859000&amp;usg=AOvVaw0B-1379igIuVyRyhm0SIYO">Terms
          of Use</a> <br>
        <a style="color:#09f;text-decoration:none"
          href="http://www.timesjobs.com/candidate/AutoLogin.html?target=Direct&amp;alt=YvsUnPasni69SUIGGxVcKw==&amp;fromTJ=alert&amp;urlWithParams=SkuyjDO2bEc4KtpJjQOJz9eGUp9ukBaeTk2Q3aghbHb3aJtJ8Z26e6kN1oCrOgT4HDKVnLdKsGqS__NEWLINE__BdAsUvs7aoPsjQfPWdX8hquQLm__PLUS__WngpeYvussIpjAKrH9msbbnBf7Fgx85CGCzFVVsKlbtw22__SLASH__vW__NEWLINE__Cq3f0IWiRBiCRRqNbyM="
          target="_blank"
          data-saferedirecturl="https://www.google.com/url?q=http://www.timesjobs.com/candidate/AutoLogin.html?target%3DDirect%26alt%3DYvsUnPasni69SUIGGxVcKw%3D%3D%26fromTJ%3Dalert%26urlWithParams%3DSkuyjDO2bEc4KtpJjQOJz9eGUp9ukBaeTk2Q3aghbHb3aJtJ8Z26e6kN1oCrOgT4HDKVnLdKsGqS__NEWLINE__BdAsUvs7aoPsjQfPWdX8hquQLm__PLUS__WngpeYvussIpjAKrH9msbbnBf7Fgx85CGCzFVVsKlbtw22__SLASH__vW__NEWLINE__Cq3f0IWiRBiCRRqNbyM%3D&amp;source=gmail&amp;ust=1730549657859000&amp;usg=AOvVaw0bFX8BLYt38kIHeuW68UPH">TimesJobs.com</a>,
        Times Business Solutions Ltd., FC - 6, (Ground Floor), Sector 16 A, Film City, Noida-201301 -->
      </div>

    </div>
    <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
  </div>
  <div style="display:none"><img
      src="https://ci3.googleusercontent.com/meips/ADKq_NZi82spJ1ZwRboW8KZBD8AvbOOrxy1gXsvRSVciV2Z4VObwApCO1rEpCKPvLJ_pkpJnfxNhjGdMCLwDP_N_wCeHJECZx78rKfa-LdovbS1b4UtX1HOdZPy9rA=s0-d-e1-ft#http://www.timesjobs.com/candidate/track.html?trackingId=20315371993"
      alt="" border="0" height="0px" width="0px" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0.">
    <div class="yj6qo"></div>
    <div class="adL">

    </div>
  </div>
</div>